/* title of the page */
.addProductHeader {
  color: black;
  text-align: center;
}

/*main block where the image and form goes. */
.mainAddProduct {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 20px;
}

/*block where you add image */
.addImageAddProduct {
  float: left;
  align-items: left;
  width: 35%;
}

.addProductImage {
  height: 450px;
  width: 400px;
}

.addProductImage {
  text-align: center;
  margin-left: 100px;
  padding: 100px 100px;
  margin-top: 15px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

.productLabels {
  display: flex;
  align-content: center;
  width: 700px;
}

.productForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  margin: 10px;
}

.addProductInput {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submitButton {
  height: 39px;
  width: 100%;
  margin-right: 5px;
  background-color: #003466;
  text-decoration: none;
  border: none;
  color: white;
  border-radius: 1px;
}
