.editProfile{
    text-align: center;
}
#heading{
    color: white;
}
.formLables{
    margin-left: 140px;
}
.formLables label{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}
.formLables input{
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
    text-align: center;
}

input{
    height: 30px;
    flex: 0 0 190px;
    margin-left: 70px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    padding: 0px 12px;
}