
.editProductHeader {
    color: black;
    text-align: center;
  }
  

  .mainEditProduct {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 20px;
  }
  

  .addImageEditProduct {
    float: left;
    align-items: left;
    width: 35%;
  }
  
  .editProductImage{
    height: 450px;
    width: 400px;
  }
  
  .editProductImage {
    text-align: center;
    margin-left: 100px;
    padding: 100px 100px;
    margin-top: 15px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .editProductLabels{
    display: flex;
    align-content: center;
    width:700px;
  }

  .editProductForm{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width:100%;
    margin: 10px;
  }
  
  .editProductInput{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .saveChangesButton {
    height: 39px;
    width: 100%;
    margin-right: 5px;
    background-color: #003466;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 1px;
  }
  