.title {
  text-align: center;
  color: black;
}

.rowUserProfileProducts {
  display: flex;
}

.userInfo {
  text-decoration: underline;
  position: relative;
  text-align: center;
  left: 12px;
  width: 200px;
}

.profilelink {
  color: black;
}

#img {
  background-color: #f2bf49;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
  height: fit-content;
  margin-left: 60px;
}

.hyper {
  position: relative;
  left: 0;
  margin-top: 50px;
}


.Name{
  margin-top: 15px;
}

.Email{
  margin-top: 15px;
}

.productsListed{
  margin-top: 15px;
}