.screenTitle {
  text-align: center;
}

.sortAndSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -100px;
}

.searchTerm {
  height: 34px;
  width: 600px;
  text-align: left;
  padding-left: 10px;
  border-style: solid 1px;
}

.searchButton {
  height: 40px;
  width: 45px;
  margin: -40px;
  background-color: #003466;
  border: none;
  border-radius: 1px;
}

.fa-search {
  color: white;
}

.sortButton {
  height: 39px;
  width: 110px;
  margin-right: 5px;
  background-color: #003466;
  text-decoration: none;
  border: none;
  color: white;
  border-radius: 1px;
}

li {
  list-style-type: none;
}

.SortButtonDropDown{
  height: 39px;
  width: 135px;
  margin: 5px;
  background-color: #003466;
  color: white;
}