.signUpHeader {
    color: black;
    margin-top: -5px;
    text-align: center;
  }
  
  .signUpCard1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    width: 500px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    margin: 30px;
  }
  
  .signUpBody1 {
    /* margin-top: -80px; */
    height: 400px;
    width: 500px;
    margin: 10px;
  }
  
  .signUpForm {
    display: flex;
    flex-direction: column;
    margin: 10px;
  
  }
  
  .emailField {
    padding-right: 10px;
  }
  
  .textInput {
    /*width: 200px; */
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
  
  }
  
  .InputField {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .passwordField {
    padding-right: 10px;
  }
  
  .signUpBox {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .w-100-1{
    height: 39px;
    width: 100%;
    margin-right: 5px;
    background-color: #003466;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 1px;
  }
  
  .AlreadyAcc{
    margin-top: 10px;
    margin-bottom: 10px;
  }